.survey-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 2.5%;
  margin-right: 1.5%;
  background: white;
  border: 1px solid #95969a;
  border-radius: 8px;
  font-family: "DMSans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #95969a;
  cursor: pointer;
}
